.top-menu {
  align-items: flex-start;
  /*background-color: var(--bon-jour);*/
  background: rgba(var(--color-2), 0.5);
  display: flex;
  height: 30px;
  opacity: 1;
  left: 0%;
  min-width: 600px;
  width: 100%;
  position:fixed;
  top:40px;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.404);*/
}

.grupo-de-desplazamiento-7::-webkit-scrollbar {
  display: none;
  width: 0;
}

.title {
  /*color: var(--masala);*/
  color: rgb(var(--color-1));
  font-family: var(--font-family-sitkatext-regular);
  font-size: 150%;
  width: 20%;
  font-weight: 400;
  letter-spacing: 0;
  /*line-height: 60px;*/
  margin-bottom: -2px;
  white-space: nowrap;
}

