.top-search {
  align-items: center;
  /*background-color: var(--bon-jour);*/
  background: rgba(var(--color-2), 0.5);
  display: flex;
  height: 40px;
  left: 0%;
  width: 100%;
  padding-left: 10%;
  position: fixed;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.overlap-group5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  height: 80%;
  padding-left: 19px;
  padding-right: 19px;
  width: 70%;
  max-width: 550px;
  /*padding: 0 19px;*/
}

.busqueda {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.busqueda::placeholder {
  color: rgba(var(--color-1), 0.5);
}

.buscar {
  /*left: 62px;*/
  font-family: "SitkaText-Regular";
  font-size: 100%;
  letter-spacing: 0;
  color:rgb(var(--color-4));
  /*line-height: 20px;*/
  position:absolute;
  /*top: 10px;*/
  white-space: nowrap;
  transition: all 400ms ease;
}

.search-button {
  background: rgb(var(--color-2));
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 80%;
  position: relative;
  min-width: 100px;
  width: 10%;
  transition: all 400ms ease;
}

.search-button:hover {
  /*animation: BotonAclarado 200ms 1;*/
  background: rgb(var(--color-3));
}

.search-button:hover > .buscar {
  color: rgb(var(--color-1));
}