.top-search {
  align-items: center;
  /*background-color: var(--bon-jour);*/
  background: linear-gradient(45deg, rgba(102, 141, 248, 0.5), rgba(90, 105, 241, 0.5), rgba(152, 108, 233, 0.5));
  display: flex;
  height: 40px;
  left: 2.5%;
  min-width: 600px;
  width: 95%;
  padding-left: 10%;
  position: fixed;
  top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.overlap-group5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  height: 80%;
  padding-left: 19px;
  padding-right: 19px;
  width: 70%;
  max-width: 550px;
  /*padding: 0 19px;*/
}

.busqueda {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.busqueda::placeholder {
  color: #3d3d3d99;
}

.buscar {
  /*left: 62px;*/
  font-family: "SitkaText-Regular";
  font-size: 100%;
  letter-spacing: 0;
  color:rgb(201, 205, 243);
  /*line-height: 20px;*/
  position:absolute;
  /*top: 10px;*/
  white-space: nowrap;
}

.search-button {
  background: linear-gradient(45deg, #481e8b, rgb(87, 56, 116));
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 80%;
  position: relative;
  min-width: 100px;
  width: 10%;
}

.search-button:hover {
  animation: BotonAclarado 200ms 1;
  background: linear-gradient(45deg, #7659a3, rgb(130, 101, 158));
}

@keyframes BotonAclarado {
  0% {
    background: linear-gradient(45deg, #481e8b, #573874);
  }
  20% {
    background: linear-gradient(45deg, #542493, #61427d);
  }
  40% {
    background: linear-gradient(45deg, #582e9b, #674884);
  }
  60% {
    background: linear-gradient(45deg, #64319f, #6f4f8d);
  }
  80% {
    background: linear-gradient(45deg, #684ea0, #775894);
  }
  100% {
    background: linear-gradient(45deg, #7659a3, #826597);
  }
}